<h1 style="color:blue">
    Send Mail AWS CLASS
</h1>

<form method="post">
    <label>Email</label>
    <input type="text" name="email" class="form-control" />
    <label>Asunto</label>
    <input type="text" name="subject" class="form-control" />
    <label>Mensaje</label>
    <textarea name="body" class="form-control"></textarea>
    <button class="btn btn-info">
        Send Mail
    </button>
</form>
<h2 style="color:red">@ViewData["MENSAJE"]</h2>

